* {
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

body {
  background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 43%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("https://images6.alphacoders.com/120/1202715.png");

  color: white;
}

.container {
  padding-top: 10px;
  padding-bottom: 20px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

#survey-form {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 40px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
}

#name {
  margin-top: 10px;
  height: 30px;
  width: 100%;
  display: block;
}

#email {
  margin-top: 10px;
  height: 30px;
  width: 100%;
  display: block;
}

#number {
  margin-top: 10px;
  height: 30px;
  width: 100%;
  display: block;
}

#dropdown {
  margin-top: 10px;
  height: 30px;
  width: 100%;
  display: block;
}

#textarea {
  margin-top: 10px;
  height: 100px;
  width: 100%;
  display: block;
}

#submit {
  margin-top: 50px;
  height: 30px;
  width: 100%;
  display: block;
  background-color: white;
  border-radius: 10px;
}

#submit:hover {
  background-color: green;
  color: white;
  border-color: green;
  border-radius: 10px;
}

#name-label {
  margin-top: 10px;
  border-radius: 10px;
  border: 0;
  display: block;
}

#email-label {
  margin-top: 10px;
  border-radius: 10px;
  border: 0;
  display: block;
}

#number-label {
  margin-top: 10px;
  border-radius: 10px;
  border: 0;
  display: block;
}
#dropdown-label {
  margin-top: 10px;
  border-radius: 10px;
  border: 0;
  display: block;
}

#kelamin-label {
  margin-top: 10px;
  border-radius: 10px;
  border: 0;
  display: block;
}

#hobi-label {
  margin-top: 10px;
  border-radius: 10px;
  border: 0;
  display: block;
}

#textarea-label {
  margin-top: 10px;
  border-radius: 10px;
  border: 0;
  display: block;
}
